nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 2px;
  color: #707070;
  font-size: 16px;
}

li {
  margin: 15px;
}

h1 {
  text-align: center;
  color: black;
  font-family: lato, sans-serif;
  font-weight: 900;
  font-size: 50px;
}

h2 {
  font-family: p22-mackinac-pro, serif;
  font-size: 24px;
}

h3 {
  text-align: center;
  color: #f2bea0;
  font-family: p22-mackinac-pro, serif;
  font-weight: 600;
  font-size: 23px;
  line-height: 1px;
}

img {
  width: 100%;
}

article img {
  object-fit: cover;
  border-radius: 50%;
}

body {
  background-color: white;
}

section {
  padding-right: 150px;
  text-align: center;
}

p {
  font-family: p22-mackinac-pro, serif;
  font-weight: 100;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

@media only screen and (max-width: 667px) {
  .container {
    margin: 2px;
    padding-left: 50px;
    padding-right: 50px;
  }
  h1 {
    font-size: 34px;
  }
  img {
    width: 100%;
  }

  article img {
    max-height: 400px;
    max-width: 450px;
    border: 1px solid #c8773d;
  }

  section {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
}

@media only screen and (min-width: 667px) {
  .container {
    margin: 2px;
    padding-left: 50px;
    padding-right: 50px;
  }
  h1 {
    font-size: 34px;
  }
  img {
    width: 100%;
  }

  article img {
    max-height: 450px;
    max-width: 450px;
    border: 1px solid #c8773d;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 75px;
  }

  .item1 {
    grid-column: 1;
    padding-left: 10px;
    padding-right: 10px;
  }

  .item2 {
    grid-column: 2;
    padding-left: 10px;
    padding-right: 10px;
  }

  .item3 {
    grid-column: 3;
    padding-left: 10px;
    padding-right: 10px;
  }

  article img {
    max-height: 350px;
    max-width: 350px;
    border: 1px solid #707070;
  }
}

.logo {
  max-height: 40px;
  max-width: 40px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  column-gap: 100px;
}

.square1 {
  grid-column: 1;
}

.square2 {
  grid-column: 2;
}

.square3 {
  grid-column: 1;
}

.square4 {
  grid-column: 2;
}

.square4 img {
  max-height: 100px;
  max-width: 100px;
}
.square1 img {
  max-height: 100px;
  max-width: 100px;
}
.square2 img {
  max-height: 100px;
  max-width: 100px;
}

.square3 img {
  max-height: 100px;
  max-width: 100px;
}

footer {
  color: white;
  opacity: 0.5;
  text-align: end;
}

a:hover {
  color: #bf2c2c;
}
